@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Playfair+Display:wght@400;700&display=swap');

/* font-family: 'Marcellus SC', serif; */
/* font-family: 'Playfair Display', serif; */

/* color scheme
color: #0A0614; // background
color: #281858; // purple medium
color: #301D6C; //purple light - shadow, text when bg yellow
color: #CEA63A; // gold
color: #FFCF6B; //yellow/gold - shadow
color: #E9BD65; // gold : button
*/


* {
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
  }
  
  body {
  background: #0A0614;
  color: #ffff;
  }
  

#landing-id {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* overflow-x: hidden; */
}

.landing-container {
  background-image: url('https://res.cloudinary.com/dkympjwqc/image/upload/v1741097142/TriStrike_Backgrounds_c5lgsn.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mini-logo1 {
  display: none;
}

.horo-wheel {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  top: 40px;
}

.horo-wheel img {
  width: auto;
  max-width: 130%;
  height: auto;
  transform: translateY(50%) rotate(180deg);
  animation: spin 70s linear infinite;
  filter: drop-shadow(0px 4px 15px #FFCF6B);
}

.card-logo {
  width: 245px;
  height: 245px;
  overflow: hidden;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 150px;
}

.card-logo img {
  width: 100%;
  height: 100%;
}

/* consult if mas pretty if may glow or if hover lang */
.card-logo:hover{
  filter: drop-shadow(0px 4px 20px #FFCF6B);
}

.welcome-title {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  margin-top: 16.5rem;
  overflow-y: hidden;
}

.tagline {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 17px;
  color: #ffff;
  top: 11rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  display: flex;
  /* left: 7rem; */
  filter: drop-shadow(0px 0px 1px #000000);
}


.welcome-title .tri, .welcome-title .strike {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  overflow-y: hidden;
}

.welcome-title .tri {
  right: 0;
  clip-path: inset(0 66% 0 0);
  filter: drop-shadow(2px 2px 2px #301D6C);
}

.welcome-title .strike {
  left: 0;
  clip-path: inset(25% 0 0 35%);
  filter: drop-shadow(2px 2px 2px #FFCF6B);
}


.play-button {
  width: 100%;
  bottom: 25px;
  position: absolute;
  text-align: center;
  padding-top: 1rem;
}


.play-start {
  width: 7rem;
  height: 2.5rem;
  background-color: #0A0614;
  border: 2px solid #301D6C;
  border-radius: 11px;
  filter: drop-shadow(1px 1px 2px #301D6C);
  font-family: 'Marcellus SC', serif;
  color: #E9BD65;
  font-size: 22px;
  margin: 0 auto;
}

.play-start:hover {
  width: 8rem;
  height: 3rem;
  background-color: #301D6C;
  color: #ffaa00;
  font-size: 25px;
  filter: drop-shadow(2px 2px 4px #E9BD65);
}



.about-container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  height: 95vh;
  padding: 0.5rem;
  background: #0A0614;
  color: white;
  grid-template-columns: 65% 35%;
  gap: 0;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
}

.left-side {
  margin-top: 0;
}

.left-side, .right-side {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.mini-logo {
  top: 0;
}

.mini-logo img{
  max-width: 25%;
}

.about-title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-title .tri, .about-title .strike {
  position: absolute;
  width: 100%;
  height: auto;
  top: -8rem;
}

.about-title .tri {
  right: 0;
  clip-path: inset(0 35% 0 0);
  filter: drop-shadow(2px 2px 2px #301D6C);
}

.about-title .strike {
  left: 0;
  clip-path: inset(0 0 0 25%);
  filter: drop-shadow(2px 2px 2px #FFCF6B);
}

.about-title img {
  max-width: 100%;
  height: auto;
  display: flex;
  margin-left: -1rem;
}

.a_open {
  font-family: 'Marcellus SC', serif;
  font-size: 22px;
}

.desc {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.logo-photo img{
  max-width: 230%;
  height: auto;
  object-fit: cover;
  clip-path: inset(0 50% 0 0);
}

@keyframes spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(540deg);
  }
}
