@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Playfair+Display:wght@400;700&display=swap');

#login-id {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-x: hidden;
    padding: 0.5rem;
}

.login-container {
background-image: url('https://res.cloudinary.com/dkympjwqc/image/upload/v1741913080/TriStrike_Background-less_vlo5ba.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.login-text {
    font-family: 'Marcellus SC', serif;
    filter: drop-shadow(0px 0px 7px #301D6C);
    font-size: 25px;
    text-shadow: 
    -1px -1px 0 #301D6C,  
     1px -1px 0 #301D6C,
    -1px  1px 0 #301D6C,
     1px  1px 0 #301D6C;
}




.text-fields {
    padding: 1rem;
    margin: 0;
}

.login-button {
    font-family: 'Marcellus SC', serif;
    color: #E9BD65;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0.8rem 0.8rem;
    outline: none;
    border: 1px solid #312150;
    filter: drop-shadow(0px 0px 20px #312150);
    background: #0A0614;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 230px;
    display: grid;
    justify-self: center;
}

.login-button:hover {
    filter: drop-shadow(2px 2px 30px #FFCF6B);
    border: 1px solid #FFCF6B;
    background-color: #E9BD65;
    color: #301D6C;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.alert {
    display: none;
    position: fixed;
    font-family: 'Chivo', sans-serif; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF8ED;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #FF6E1F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    width: 300px;
    height: 130px;
    align-content: center;
}




.pure-material-textfield-filled {
    position: relative;
    display: grid;
    justify-self: flex-start;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 1;
    overflow: hidden;
    width: 300px;
    padding-bottom: 1rem;
    border-radius: 15px 15px 15px 15px;
    border-top: solid 1.5px black;
}


.pure-material-textfield-filled > input,
.pure-material-textfield-filled > textarea {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    border: solid 1px #0A0614;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 15px 15px 15px 15px;
    padding: 0 12px 10px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: #ffff;
    box-shadow: none; 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border-bottom 0.2s, background-color 0.2s;
}


.pure-material-textfield-filled > input + span,
.pure-material-textfield-filled > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    padding: 7px 12px 0;
    color: #0A0614;
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}



.pure-material-textfield-filled > input:hover,
.pure-material-textfield-filled > textarea:hover {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: #e8e1fa;
}


.pure-material-textfield-filled > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-filled > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 48px;
}


.pure-material-textfield-filled > input:focus,
.pure-material-textfield-filled > textarea:focus {
    outline: none;
}

.pure-material-textfield-filled > input:focus + span,
.pure-material-textfield-filled > textarea:focus + span {
    color: #0A0614;
}

.pure-material-textfield-filled > input:focus + span::before,
.pure-material-textfield-filled > textarea:focus + span::before {
    opacity: 0.12;
}

.pure-material-textfield-filled > input:focus + span::after,
.pure-material-textfield-filled > textarea:focus + span::after {
    transform: scale(1);
}


.pure-material-textfield-filled > input:disabled,
.pure-material-textfield-filled > textarea:disabled {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.24);
}

.pure-material-textfield-filled > input:disabled + span,
.pure-material-textfield-filled > textarea:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}