@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Playfair+Display:wght@400;700&display=swap');

#logSignUp-id {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-x: hidden;
    padding: 0.5rem;
}

.logSignUp-container {
background-image: url('https://res.cloudinary.com/dkympjwqc/image/upload/v1741913080/TriStrike_Background-less_vlo5ba.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


.ls-content {
    padding: 0.5rem;
   
}

.mini-logo-ls {
    display: flex;
    justify-content: flex-start;
    top: 0;

}

.mini-logo-ls img{
    max-width: 15%;
    /* height: 15%; */
}

.card-holder {
    display: grid;
    grid-template-columns: 50% 50%;
}

.choices {
    font-family: 'Marcellus SC', serif; 
    filter: drop-shadow(0px 0px 20px #301D6C);
    margin: 0;
}

.login img, .login h3 {
    filter: drop-shadow(0px 0px 7px #301D6C);
    font-family: 'Marcellus SC', serif;
    font-size: 23px;
    margin: 0;
}


.sign-up img, .sign-up h3 {
    filter: drop-shadow(0px 0px 7px #FFCF6B);
    font-family: 'Marcellus SC', serif;
    font-size: 23px;
    margin: 0;
}

.login p, .sign-up p {
    font-family: 'Playfair Display', serif; 
    font-style: italic;
    font-size: 15px;
    margin-top: 1rem;
}

.login:hover, .login h3:hover {
    filter: drop-shadow(2px 2px 5px #301D6C);
}

.sign-up:hover {
    filter:drop-shadow(2px 2px 5px #FFCF6B)
}

@media (min-width: 768px) {
    #logSignUp-id {
        height: 100vh;
    }
    
    .mini-logo-ls img {
        max-width: 10%;
    }

    .login h3 {
        font-size: 30px;
    }

    .ls-content {
        padding: 0;
    }
    .choices {
        font-size: 30px;
        padding: 0;
    }
    
    .sign-up img, .sign-up h3 {
        filter: drop-shadow(0px 0px 7px #FFCF6B);
        font-family: 'Marcellus SC', serif;
        font-size: 45px;
        max-width: 35rem;
    }

    .login img, .login h3 {
        filter: drop-shadow(0px 0px 7px #301D6C);
        font-family: 'Marcellus SC', serif;
        font-size: 45px;
        max-width: 35rem;
    }

    .login, .sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .login p, .sign-up p {
        font-family: 'Playfair Display', serif; 
        font-style: italic;
        font-size: 30px;
    }
}