<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriStrike</title>
</head>
<body>
    <div class="landing-container" id="landing-id">
        <img src="https://res.cloudinary.com/dkympjwqc/image/upload/v1741097142/TriStrike_Backgrounds_c5lgsn.png" alt="Starry Skies">
            
            <div class="horo-wheel">
                <img src="" alt="">
            </div>

            <div class="card-logo">
                <img src="" alt="">
            </div>

            <div class="welcome-title">
                <div class="tri">
                    <img src="" alt="">
                </div>
                
                <div class="strike">
                    <img src="" alt="">
                </div>
            </div>

            <div class="play-button">
                <h2>Play</h2>
            </div>
    </div>
</body>
</html>