@media (min-width: 375px) {
   
}


@media (min-width: 425px) {
    
}

@media (min-width: 768px) {
   
    
}

@media (min-width: 1440px) {
    #login-id {
        justify-content: center;
    }

    .login-text h1{
        font-size: 70px;
    }

    .pure-material-textfield-filled {
        width: 400px;
    }
}