@media (min-width: 1024px) {

    .logo img {
        width: 150px;
    }

    .cards {
        margin-left: 2rem;
    }
    .cards img {
        width: 25%;
    }

    .card-grid {
        grid-template-columns: repeat(5, 1fr);
        padding: 1rem;
        padding-bottom: 7rem;
    }

    .game-board {
        padding: 2px;
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .timer {
        font-size: 28px;
        height: 50px;
        /* width: 250px; */
        
    }

    .user-profile img {
        max-width: 15%;
    }

    .bottom-nav {
        margin-top: 15px;
        height: 7rem;
    }

    .prize-pool {
        gap: 13px;
    }

    .money, .prize, .pp-name {
        font-size: 30px;
    }

    .bet {
        width: 13rem;
        height: 4rem;
        font-size: 30px;
    }

}

@media (min-width: 1440px) {

    /* .timer {
        font-size: 28px;
        height: 50px;
        width: 250px;
        margin-right: 45px;
        
    } */

    .cards img {
        width: 15%;
    }
    
    .user-profile img {
        max-width: 10%;
    }

    .money,
    .info .time {
        font-size: 40px;
        margin: 5px 0;
    }

    .money {
        margin-left: 1rem;
    }

    
    .game-board {
        padding-top: 1.5rem;
    }

    .pp-name, .prize {
        font-family: 'Marcellus SC', serif;
        font-size: 35px;
        color: #FFCF6B;
    }
    
    .logo img {
        width: 120px;
        height: auto;
        margin-right: 5px;
    }

    .user-profile img {
        max-width: 5%;
    }

    .bet-button {
    width: 100%;
    bottom: 25px;
    position: absolute;
    text-align: center;
    padding-top: 1rem;
    }

    .bet {
        width: 20rem;
        height: 5rem;
        background-color: #0A0614;
        font-size: 50px;
    }
}